
        h1 {
          color: red;
        }
        img {
          width: 400px;
        }
        #thirdDiv{
          height: 600px;
          width: 500;
          background: thistle;
          padding: 50px;
          border: aqua 2px solid;
        }
        #spanId{
          font-size: 18px;
          margin: 50px;
        }
     